@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', serif;
}
/* Custom Styles */
:root {
  --primary-bg-cooler: rgb(198, 228, 214);
  --box-bg1: rgba(84, 144, 245, 0.2);
  --box-bg2: rgb(247, 235, 207);
  --btn-bg: rgb(0, 106, 80);
  --btn-hover-bg: rgb(1, 68, 51);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
section,
main,
header,
footer {
  width: 1280px;
  margin: 0 auto;
}

/* Main CSS */
/* Header Section */
#header-section .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-section .navbar .logo h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

#header-section .navbar .nav-btn button {
  width: 116px;
  height: 52px;
  padding: 15px 30px 15px 30px;
  border: 1px solid var(--btn-bg);
  border-radius: 8px;
  color: var(--btn-bg);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: 0.2s ease-in-out;
}

#header-section .navbar .nav-btn button:hover {
  background-color: var(--primary-bg-cooler);
}

#header-section .hero-section {
  width: 100%;
  height: 560px;
  background-color: var(--primary-bg-cooler);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#header-section .hero-section .hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-section .hero-section .hero-content .text {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 20px;
  padding: 30px 40px 30px 30px;
}

#header-section .hero-section .hero-content .text h1 {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

#header-section .hero-section .hero-content .text h3 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

#header-section .hero-section .hero-content .text button {
  width: 270px;
  height: 56px;
  padding: 17px 34px 17px 34px;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  transition: 0.2s ease-in;
}

#header-section .hero-section .hero-content .text button:hover {
  background-color: rgb(1, 68, 51);
}

#header-section .hero-section .hero-content .img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 30px 0 0;
}

/* Pillars Section */
#pillars-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  margin-top: 100px;
}

#pillars-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

#pillars-section .pillars-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#pillars-section .pillars-box .box {
  width: 302px;
  height: 244px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  padding: 24px 15px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#pillars-section .pillars-box .box:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#pillars-section .pillars-box .box h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
}
#pillars-section .pillars-box .box p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
/* Feature Section */
#feature-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 80px;
}

#feature-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

#feature-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

#feature-section .feature-box {
  display: flex;
  justify-content: space-between;
}

#feature-section .feature-box .box {
  width: 410px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 32px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;
}


#feature-section .feature-box .box .texts h3 {
  color: rgba(14, 14, 14, 0.8);
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
}

#feature-section .feature-box .box .texts p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}

#feature-section .feature-box .box button {
  width: 122px;
  height: 41px;
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  transition: 0.3s ease-in;
}

#feature-section .feature-box .box:nth-child(1) {
  background: rgba(84, 144, 245, 0.2);
}
#feature-section .feature-box .box:nth-child(1) button {
  background: rgb(84, 144, 245);
}
#feature-section .feature-box .box:nth-child(1) button:hover {
  background: rgb(0, 94, 255);
}
#feature-section .feature-box .box:nth-child(2) {
  background: rgb(198, 228, 214);
}
#feature-section .feature-box .box:nth-child(2) button {
  background: rgb(9, 161, 92);
}
#feature-section .feature-box .box:nth-child(2) button:hover {
  background: rgb(0, 255, 140);
}
#feature-section .feature-box .box:nth-child(3) {
  background: rgb(247, 235, 207);
}
#feature-section .feature-box .box:nth-child(3) button {
  background: rgb(255, 194, 57);
}
#feature-section .feature-box .box:nth-child(3) button:hover {
  background: rgb(255, 221, 108);
}

#feature-section .quote-box {
  position: relative;
  width: 100%;
  height: 256px;
  padding: 48px 24px 48px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#feature-section .quote-box img {
  position: absolute;
  top: 5%;
  z-index: -0;
}

#feature-section .quote-box p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
#feature-section .quote-box h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
#feature-section .quote-box span {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Opinion Section */
#opinion-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 80px;
}
#opinion-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

#opinion-section .opinion-content {
  width: 100%;
  height: 409px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
  background-color: white;
}
#opinion-section .opinion-content table {
  border: 1px solid rgba(14, 14, 14, 0.15);
  width: 1216px;
}

#opinion-section .opinion-content table thead {
  width: 100%;
  height: 72px;
}
#opinion-section .opinion-content thead tr {
  height: 100%;
  background-color: var(--primary-bg-cooler);
}
#opinion-section .opinion-content th:nth-child(1) {
  width: 80%;
  height: 72px;
  text-align: start;
  padding: 0 20px;
}

#opinion-section .opinion-content table tbody tr {
  width: 100%;
  height: 92px;
}

#opinion-section .opinion-content tr td {
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  padding: 0 20px;
}
#opinion-section .opinion-content tr td:nth-child(1) {
  border-right: 1px solid rgba(14, 14, 14, 0.15);
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
#opinion-section .opinion-content tr td:nth-child(2) {
  border-left: 1px solid rgba(14, 14, 14, 0.15);
}
#opinion-section .opinion-content tr td:nth-child(2) button {
  width: 152px;
  height: 44px;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: var(--primary-bg-cooler);
  color: rgb(14, 14, 14);
  font-size: 16px;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  line-height: 19px;
}
#opinion-section .opinion-content tr td:nth-child(2) button:hover {
  background-color: var(--btn-hover-bg);
  color: white;
}
#opinion-section .opinion-content tr:nth-child(3) td {
  border-bottom: none;
}

/* Resent News Section */
#news-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 30px;
}

#news-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
#news-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#news-section .news-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#news-section .news-container .news {
  width: 100%;
  height: 402px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

#news-section .news-container .news:nth-child(2) {
  flex-direction: row-reverse;
}

#news-section .news-container .news img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

#news-section .news-container .news .text {
  width: 744px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: start;
}
#news-section .news-container .news .text h1 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
#news-section .news-container .news .text img {
  width: 134px;
  height: 40px;
}
#news-section .news-container .news .text .time-date {
  display: flex;
  column-gap: 15px;
}
#news-section .news-container .news .text .time-date h4 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#news-section .news-container .news .text p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#news-section .news-container .news .text a {
  width: 139px;
  height: 48px;
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
  background: var(--btn-bg);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: 0.2s ease-in-out;
}
#news-section .news-container .news .text a:hover {
  background-color: var(--btn-hover-bg);
}

/* Donate Section */
#donate-section {
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  margin-top: 80px;
}
#donate-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
#donate-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
#donate-section .donate-box {
  display: flex;
  column-gap: 50px;
}
#donate-section .donate-box .box {
  width: 240px;
  height: 128px;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#donate-section .donate-box .box:hover {
  background-color: var(--primary-bg-cooler);
}

#donate-section .donate-box .box:nth-child(2) {
  background: var(--primary-bg-cooler);
}

#donate-section .donate-box .box h1 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}
#donate-section input {
  width: 1032px;
  height: 64px;
  padding: 20px 40px 20px 40px;
  border-bottom: 2px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
}
#donate-section input[placeholder] {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

#donate-section button {
  width: 151px;
  height: 56px;
  padding: 17px 34px 17px 34px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: var(--btn-bg);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: 0.2s ease-in-out;
}
#donate-section button:hover {
  background-color: var(--btn-hover-bg);
}

/* Subscribe Newsletter Section */

#subscribe-section {
  margin-top: 80px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 80px 100px 80px 100px;
  background-color: var(--primary-bg-cooler);
  border-radius: 24px;
}

#subscribe-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
#subscribe-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
#subscribe-section .input-box {
  overflow: hidden;
  display: flex;
}
#subscribe-section .input-box input {
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  width: 600px;
  height: 55px;
  padding: 18px 40px 18px 40px;
}
#subscribe-section .input-box input[placeholder] {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
#subscribe-section .input-box button {
  width: 150px;
  height: 56px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px 17px 34px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  transition: 0.2s ease-in-out;
}

#subscribe-section .input-box button:hover {
  background-color: var(--btn-hover-bg);
}

#subscribe-section span {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

/* Footer Section */
#footer {
  height: 226px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin-top: 80px;
  padding: 50px 160px 50px 160px;
}

#footer h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
#footer hr {
  width: 1122px;
  height: 0.3px;
  background-color: rgba(14, 14, 14, 0.1);
  opacity: 15%;
}
#footer .social-links {
  display: flex;
  column-gap: 20px;
}
